form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
/* Form label styles */
label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
}

/* Input styles */
input, select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

/* Button styles */
button, .schedule-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Small link styles */
a.schedule-link {
    display: block;
    width: 20%;
    margin: auto;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
}
button:hover, .schedule-link:hover {
    background-color: #218838;
}

.exam-name {
    margin-bottom: 20px;
}