.exam-questions-container {
            /* max-width: 800px; */
            margin: 20px;
            padding: 40px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #f9f9f9;
        }

        .questions {
            /* list-style-type: none; */
            padding: 0;
            margin: 0;
        }

        .question-item {
            margin-bottom: 20px;
            padding: 15px;
            border-bottom: 1px solid #ddd;
        }

        .question-text {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        .answers {
            /* list-style-type: upper-alpha; */
            padding-left: 20px;
            margin: 10px 0;
        }

        .answer-option {
            margin: 5px 0;
        }

        .correct-answer {
            font-style: italic;
            color: #4CAF50;
            margin-top: 5px;
        }

        .qButton {
            display: inline-block;
            margin-top: 10px;
            padding: 8px 12px;
            color: #fff;
            background-color: rgb(42, 33, 133);
            text-decoration: none;
            border-radius: 4px;
            font-size: 0.9em;
            transition: background-color 0.3s;
            border: none;
        }
        .del{
            background-color:rgb(234, 0, 0);
            margin-left: 10px;
        }

        .qButton:hover {
            background-color: rgb(23, 18, 77);
        }
        .del:hover {
            background-color:rgb(196, 1, 1);
        }
        .exam-questions-container > h2 {
            margin-bottom: 20px;
        }