* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header form {
    display: flex;
}

header input[type="text"] {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    width: 200px;
}

header button {
    padding: 10px 15px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

header button:hover {
    background-color: #00408a;
}

.container {
    display: flex;
    flex: 1;
    min-height: 100vh;
}

aside {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

aside nav ul {
    list-style-type: none;
    flex: 1;
}

aside nav ul li {
    margin-bottom: 20px;
}

aside nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

aside nav ul li a:hover {
    color: #007bff;
}

main {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

main h2 {
    margin-top: 0;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

button {
    padding: 5px 10px;
    margin-right: 0px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}